@tailwind base;
@tailwind components;
@tailwind utilities;


main, article, section {
  background-color: #000000;
  color: #ffffff;
}


@keyframes galaxyBackground {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}


@layer base {
  :root {
    color-scheme: light dark;

    --light-mode-background: 240 240 240;
    --light-mode-foreground: 0 0 0;
    --light-mode-foreground-muted: 50 50 50;
    --dark-mode-background: 10 10 10;
    --dark-mode-foreground: 255 255 255;
    --dark-mode-foreground-muted: 205 205 205;
  }

  body {
    background-color: light-dark(
      rgb(var(--light-mode-background)),
      rgb(var(--dark-mode-background))
    );
    background: url('/stars-bg.jpg') no-repeat center center fixed; 
    background-size: 100% auto;

    animation: galaxyBackground 30s infinite ease-in-out;
  }
}
