---
interface Props {
  type: "youtube" | "website";
  src: string;
}

const { type, src } = Astro.props;

const isYouTube = type === "youtube";
---
<div class="relative w-full max-w-3xl mx-auto rounded-lg overflow-hidden shadow-lg">
  {isYouTube ? (
    <iframe
      class="w-full aspect-video rounded-lg"
      src={`https://www.youtube.com/embed/${new URL(src).searchParams.get("v")}`}
      allowfullscreen
    ></iframe>
  ) : (
    <iframe
      class="w-full h-[500px] border border-gray-300 rounded-lg"
      src={src}
    ></iframe>
  )}
</div>
