---
import { type CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<li class="flex flex-col p-4 rounded-lg shadow-md border border-gray-100 transition-colors duration-300 group">
  <h3 class="text-xl font-semibold mb-2">
    <a href={project.data.url} 
       class="hover:underline group-hover:text-blue-600 peer"
    >
      {project.data.title}
    </a>
  </h3>
  <p class="text-sm text-gray-500 mb-2 ">
    {project.data.description}
  </p>
</li>
